.player {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 32px;
    background-color: rgba(245, 245, 245, 0.492);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 12px;
    padding: 5px;
    padding-right: 12px;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
    }

    &:hover{
        background-color: rgba(245, 245, 245, 0.726);
    }
}

.active-Player {
    background-color: rgb(245, 245, 245);
}

@media (max-width: 800px) {
    .player {
        gap: 6px;
        font-size: 22px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    .active-Player {
        background-color: rgb(245, 245, 245);
    }
}