.player{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 32px;
    background-color: rgba(245, 245, 245, 0.492);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 12px;
    padding: 5px;
    img{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}

.active-Player{
    background-color: rgb(245, 245, 245);
}