@import './../../styles';

.start-screen {
    background-color: black;
    @include maxWidthANDHight;
    max-width: 100%;
    @include display-center;

    img {
        @include maxWidthANDHight;
    }
}

.start-label-box {
    position: absolute;
    @include display-center;
    right: 30%;
    img {
        width: 20vw;
        height: auto;
        cursor: pointer;

        &:hover {
            filter: brightness(1.4);
        }
    }
}