@import './../../styles';

.start-screen {
    background-color: black;
    @include maxWidthANDHight;
    max-width: 100%;
    @include display-center;

    img {
        @include maxWidthANDHight;
    }
}

.start-label-box {
    position: absolute;
    @include display-center;
    right: 20%;
    @media (max-width: 600px) {
        right: 0%;
    }

    img {
        width: 350px;
        height: 200px;
        cursor: pointer;

        @media (max-width: 600px) {
            width: 250px;
            height: 150px;
        }

        &:hover {
            filter: brightness(1.4);
        }
    }
}