@import './../../styles';

.field {
    position: relative;
    @include maxWidthANDHight;
    @include display-center;
    max-width: 100%;
    background-image: url('./../../assets/img/board.jpg');
    background-size: cover;
}

.card-stack {
    img {
        position: absolute;
        width: 150px;

        @media (max-width: 600px) {
            left: 120px;
            width: 100px;
        }
    }
}

.card-stack-img {
    transform: translate(-50%, -50%);

}

.top-card {
    transform: translate(-50%, -50%);
    rotate: 4deg;
    transition: all 100ms ease-in-out;
    cursor: grab;

    &:hover {
        transform: rotate(-2deg) scale(1.1) translate(-50%, -50%);
        filter: brightness(1.4);
    }
}

.pick-card {
    animation: pick-card-animation 1.1s ease-in-out;
    --card-rotation: 50deg;
}

.played-card {
    transform: scale(1.2) translateX(150px) translateY(-250px);

    @media (max-width: 800px) {
        transform: scale(1.0) translateX(100px) translateY(-250px);
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1) translate(-40%, -40%) rotate(var(--card-rotation));
    }

    40% {
        transform: scale(1.4) translate(-40%, -40%) rotate(var(--card-rotation));
    }

    60% {
        transform: scale(1.4) translate(-40%, -40%) rotate(var(--card-rotation));
    }

    100% {
        transform: scale(1.2) translateX(100px) translateY(-250px) rotate(var(--card-rotation));
    }
}

.add-player-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.701);
    color: black;

    &:hover {
        background-color: rgb(245, 245, 245);
    }
}

.rules {
    position: absolute;
    bottom: 80px;
    margin-left: 12px;
    margin-right: 12px;
}

.player-container {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
    overflow-y: auto;
    --player-spacing: 80px;

    @media (max-width: 800px) {
        max-height: 300px;
        --player-spacing: 50px;
    }
}

.game-over {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 99;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        position: relative;
        bottom: -190px;
        width: 100%;
        height: 100vh;
    }
}

.preload-image {
    height: 0;
    width: 0;
}