*{
    margin: 0;
    box-sizing: border-box;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin maxWidthANDHight {
    width: 100vw;
    height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
