* {
    margin: 0;
    box-sizing: border-box;
}

html , body {
    height: 100%;
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin maxWidthANDHight {
    width: 100vw;
    height: 100vh;
}